src/main/mule/jsontransformation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="54bd6ff1-bdcb-44b3-a48e-b0bbeea71fca" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="jsontransformationFlow" doc:id="9e322f4d-1bb1-412a-9037-3b480c5b91e2" >
		<http:listener doc:name="Listener" doc:id="5db71102-9e66-4534-8f44-62c98836dcf1" config-ref="HTTP_Listener_config" path="/jsontransformation"/>
		<ee:transform doc:name="Transform Message" doc:id="1a27e1fc-90e2-4f73-836f-3297c99adedb" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	lastname: payload.Items[1] default "",
	name: payload.Items[0] default "",
	"timeZone" : "",
	"offSet" : "",
	"fullName" : payload.Items[0] ++ " " ++ payload.Items[1],
	"temperatureCelcius" : 0, //current weather for location
	"dateTime" : now() as String {format: "yyyy-MM-dd'T'HH:mm:ss'Z'"} ,	
	"city" : payload.Items[4] default "",
	"location" : payload.Items[3] default ""
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="23b307ab-6085-4f24-aca8-b552261b7e46" message="#[payload]"/>
	</flow>
</mule>
